<?xml version="1.0"?>
<launch>
    <!-- Start the speed node(주석역할) -->
    <include file="$(find limo_base)/launch/limo_base.launch"/>
    <include file="$(find ydlidar_ros_driver)/launch/X2L.launch" />

    <node pkg="basic_ex" type="lidar_obs.py" name="obs_detect_node" output="screen"/>
    <node pkg="basic_ex" type="control_obs_11.py" name="control_node" output="screen"/>
</launch>